{% extends 'base.html.twig' %}

{% block body %}
<div class="pb-5 container">
    <h1 class="text-center d-sm-none pb-2 pt-3">
    {{ (sport is not null) ? sport|capitalize : "A la une" }}
    </h1>
    <div class="d-flex justify-content-between align-items-end my-2">
        <h1 class="text-center d-none d-sm-flex pt-3 mb-0">
            {{ (sport is not null) ? sport|capitalize : "A la une" }}
        </h1>
        <a  class="menu-item d-sm-none " href="{{ path('app_live') }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-circle-fill red" viewBox="0 0 16 16">
                <circle cx="8" cy="8" r="8"/>
            </svg>
            <span class="fs-2 bold">Direct</span>
        </a>
        <div id="filter" class="align-center">
            <div class="search-box d-flex">
                <input type="text" id="search" name="search" class="input-search" placeholder="Rechercher">
                <div class="d-none d-sm-flex btn-search full-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
                </div>
            </div>
        </div>
    </div>
    <div id="content">    
    {% include 'content/articles.html.twig' %}
    </div>

</div>
{% endblock %}
{% block javascripts %}
<script>
$("document").ready(()=>{
    
    let offset = 0;
    let form = document.getElementById("filter")
    let input = document.getElementById("search")

    input.addEventListener("keyup", ()=>{
        let data = input.value
        if(data.length > 2 || data.length <= 0){
            //url
            let url = new URL(window.location.href)
            url = url.pathname + "?search="+data+"&ajax=1";
            $.ajax({
                type: "GET",
                url: url,
                success: function(data){
                    const content = document.querySelector("#content");
                    content.innerHTML = data.content
                    offset  =0
                },
            })
        }
    })
    form.addEventListener("submit", (e)=>{
        e.preventDefault();
    })

    //function to display new articles on the home page
    fetchMore = function(){
        // throw the ajax request if the scroll reach 200px of the bottom of the page.
        if ($(window).scrollTop() > ($(document).height() - 200 )- $(window).height()){
            if(input.value.length < 3){
                $(window).unbind('scroll', fetchMore);
                offset = offset + 10;
                let url = new URL(window.location.href)
                url = url.pathname + "?offset="+offset+"&ajax=2";
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function(data){
                        // $(data.content).insertAfter($('#content'));
                        var div = document.createElement('div');
                        div.innerHTML = data.content.trim();
                        let endPage = document.getElementById("content");
                        endPage.append(div)
                    },
                })
                setTimeout(()=> {
                    $(window).bind('scroll',fetchMore);
                }, 3000)
            }    
        }
    } 
    $(window).bind('scroll',fetchMore);
})
</script>
{% endblock %}