{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié?{% endblock %}

{% block body %}
<div class="page-100  py-4" style="background-image : url('{{asset("image/background-race.jpg")}}')">
    <div class="alert-success rounded container mt-5 p-3">
        <p>
            Si l'adresse renseignée précédemment est correcte et correspond à un compte déjà existant, un email vous sera envoyé 
            contenant un lien vous permettant de mettre à jour votre mot de passe.
            Ce lien expirera dans 1 heure.
        </p>
        <p>Si vous n'apercevez aucun mail n'oubliez pas de vérifier dans vos courriers indésirables,
        autrement <a class="link-default" href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.
        </p>
    </div>
{% endblock %}
