{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié?{% endblock %}

{% block body %}
    <p>
        Si l'adresse renseignée précédemment est correcte et correspond à un compte déjà existant, un email vous sera envoyé 
        contenant un lien vous permettant de mettre à jour votre mot de passe.
        Ce lien expirera dans 1 heure.
    </p>
    <p>Si vous n'apercevez aucun mail n'oubliez pas de vérifier dans vos courriers indésirables,
    autrement <a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
{% endblock %}
