<div class="page-100 full-center py-4" style="background-image : url('{{asset("image/background-race.jpg")}}')">
<div class="px-4 py-3 wrapper-form">
<p>Pour réinitialiser votre votre nouveau mot de passe, cliquez sur le lien ci dessous</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans 1 heure.</p>

<p>le Quotidien Sport</p>
</div>
</div>