/***Article Form***/
.form-article {
    width : 75%;
    min-width : 280px
}
.form-login a {
    color : blue
}
.form-login a:hover {
    color : purple
}
.small-input{
    max-width : 250px;
} 

/***Sign-in Form***/
.form-signin{
    width  : 80%;
    max-width : 360px
}
/***Login Form***/
.form-login{
    width : 80%;
    max-width : 360px;
}



