h1{
    color :#313131
}
p{
    color : rgb(49, 53, 49);
    font-size : 1rem;
}

/***index***/
h2{
    color :#313131;
    font-size : 1.75rem;
}
.img-article{
    max-width : 500px;
}
/***article***/
.image400{
    width : 80%;
    max-width : 600px;
    height : auto;
}
.article-content{
    font-size : 1.125rem;
}
h2.h2-grey{
    color :#313131
    
}
@media all and (min-width : 991px){
    h2.h2-grey{
        font-size : 1.25rem;
    }
}
