
.form-group {
    margin : 10px;
}
a:hover, a:visited, a:link{
     color : white;
    text-decoration : none;   
}
.form-control{
    width : 60vw;
    min-width: 400px;
}

  nav {
    background-color : rgb(18,22,64)
  }

