<h1>Changement de vos accès </h1>

<p>Bonjour {{user}},</p>

<p>Nous vous informons que vos accès ont été modifiés, vous avez dorénavant le rôle d'{{role}}.</p>

<p>Vous avez accès dès maitenant aux fonctionnalités autorisés pas votre nouveau rôle.</p>

<p>le Quotidien Sport</p>