{% extends 'base.html.twig' %}

{% block body %}
<div class="page-100 full-center py-4" style="background-image : url('{{asset("image/background-race.jpg")}}')">
<div class="px-4 py-3 wrapper-form">
<h1>Mot de passe oublié ?</h1>
<p>Renseignez votre adresse mail, un email vous sera envoyé pour réinitialiser votre mot de passe.</p>
{{ form_start(form, {'action': path('sendmail_password')}) }}
        {{ form_row(form.email) }}
{{form_end(form)}}
</div>
</div>
{% endblock %}