//Variables


//Global
.full-center{
	display : flex;
	justify-content: center;
	align-items: center;
}
.justify-center{
	display: flex;
	justify-content: center;
}
.align-center{
	display : flex;
	align-items: center;
}
.bold{
	font-weight : bold;
}
.red{
	color : red;
}
.white{
	color : white;
}
.grey{
	color: grey;
}
.gold {
	color : gold;
}
a:link, a:hover, a:visited{
	text-decoration: none;
	color : black
}
.link-default:hover, .link-default:link, .link-default:visited{
	text-decoration: underline;
	color: blue;
}
.img-article{
	height : 100%; 
	width : 90%;
	border-radius: 8px;
}
.img-100{
	width : 100%;
	height : auto; 
	border-radius: 2px;
}
.priority{
	background-color : rgb(228, 246, 242);
}
.wrapper-article{
	padding : 12px; 
	border-radius : 8px;
}
h1{
	font-size : 1.9rem;
}
h2{
	font-size : 1.7rem;
}
.opacity-over-background{
	background-color :rgb(231, 225, 225, 0.4);
	width : 100%;
	height : 100%;
}

/***Header***/
header{
  	background-color : rgb(18,22,64);
  	header a:hover, a:visited, a:link {
		text-decoration: none;
		color : white;
  	}
  	.logo-header-desktop{
		height : 100px;
		width : auto;
  	}
  	.logo-header-mobile{
		width : 150px;
		height : auto;
  	}
  	.menu-burger{
		height : 40px;
		width : auto;
  	}
  	.dropdown-menu{
		background-color : rgb(18,22,64);
		border : none
  	}
  	.dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:focus {
		color : white;
		outline: none;
  	}
  	.menu-burger{
		width: 40px;
		height : 40px;
		filter : invert(100%);

  	}
  	.index-high {
		z-index: 1000;
  	}
  	.img100{
		width : 100% 
  	}
  	.nav-link:hover{
		background-color : rgb(210, 226, 199)
  	}
	.navbar-toggler{
		outline-width: 0;
	}
	.header-small{
		.dropdown{
			padding-top : 10px;
		}
		.dropdown-menu{
			padding: 0px;
		}
	}
}


/***sub-header***/
.sub-header{
	font-size : 1.25rem;
	width : 100%;
	background-color : grey;
	margin : 0;
	font-size : 1rem;
	display : flex;
	justify-content : space-between;
	 a:link, a:visited{
		 color : white; 
	}
	a:hover{
		color :rgb(231, 225, 225)
	}
}


/***home page***/
.bi-search{
	border : 0 0 1px 0 solid black;
}
.search-box{
	border : none;
	border-bottom : 1px solid black;
	.input-search:focus-visible{
		outline-width: 0;
	}
	.input-search{
		border : none;
	}
}
.logo-league{
	height : 30px;
	width : auto;
}
.btn-read{
	padding : 10px;
	background-color : rgb(183, 45, 45);
	border-radius : 10px;
	border : none;
	color : white;
}
  
/***Article Form***/
.form-article {
	input:not([type="checkbox"]){
		border-radius : 10px;
	}
	textarea{
		min-height : 400px;
	}
	.small-input{
		max-width : 250px;
	} 
	label{
		color : white
	}
}

/***Sign-in Form***/
.form-signin{
	a {
	  color : blue
	}
	a:hover {
	  color : purple
	}
}

/***Form pages***/
.page-100{
    height : 100%;
    width: 100%;
    min-height : calc(100vh - 66px);
    background-size : cover;
    background-position: center;
    .wrapper-form{
        background: rgba(255, 255, 255, 0.45);
        border-radius : 16px;
        width : 90%;
        max-width : 370px;
		input{
			width :  100%;
			opacity: 0.9;
		}
		label{
			font-weight : 500;
			font-size : 1rem;
		}
		button{
			width: 100%;
		}
    }
	.wrapper-form-xl{
		max-width : 440px;
	}
}
.badge-danger{
	display : none;
}
@media all and (min-width : 576px){
	.page-100{
		min-height : calc(100vh - 132px);
	}
}

/***article***/
.article{
	.article-content{
		font-size : 1.07rem;
	}
	h2{
		font-size : 1.32rem;
	}
	.counter{
		margin-top : -10px;
	}
}
/***Pages Admin***/
.link-article:hover, .link-article:visited, .link-article:link {
	color : black;
  font-size : 1rem;
  font-weight : 500;
}
.nav-link:active{
	color : black !important;
}
.nav-link, .nav-link:active{
	border-bottom : none !important;
}
a.edit{
  color : rgba(42, 66, 131, 0.795);
}
.button-delete{
	background-color : transparent;
	border : none;
	&:focus{
		outline : none;
	}
}
#form-select {
	input, select{
	  height : 30Px
  }
}
  
//comments
.comment-box{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding : 12px;
	margin-bottom : 10px;
	border-radius : 12px;
}

/***live***/
.banner{
	background-color :#e9ecef;
	padding : 6px;
	margin-bottom : 8px;
}
.logo-teams{
	height : 28px;
	width : auto;
}

/***stars***/
.jq-stars {
	display: inline-block;
}  
.jq-rating-label {
	font-size: 22px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	font-family: helvetica, arial, verdana;
}
.jq-star {
	width: 100px;
	height: 100px;
	display: inline-block;
	cursor: pointer;
}  
.jq-star-svg {
	padding-left: 3px;
	width: 100%;
	height: 100% ;
}
.jq-star-svg path {
	stroke-linejoin: round;
}
.jq-shadow {
 	-webkit-filter: drop-shadow( -2px -2px 2px #888 );
	filter: drop-shadow( -2px -2px 2px #888 );
}


//popover
.popover-header{
	background-color: rgb(245, 245, 245);
}
.popover-body{
	padding : 0 !important;
	.content-popover div{
		height : 40px;
		width : 100%;
		&:hover{
			filter: brightness(74%);;
		}
	}
}

