{% extends 'base.html.twig' %}

{% block body %}

<div class="pb-5">
    <h1 class="text-center pb-2 pt-3">
    </h1>


    <hr/>
    <div class="wrapper-article container">
        <a href="">
            <div  class="row align-items-center ">
                <div class="col-12 col-lg-4 img100 px-5 p-lg-0 pt-3 p-lg-0 full-center order-lg-2">
                    <image class="img100 img-article border10" src="">
                </div>
                <div class="col-12 col-lg-8 pl-lg-5 p-4 p-lg-0 text-center text-lg-left order-lg-1">
                    
                </div>
            </div>
        </a>
    </div>
    {# {% for league in leagues %}
    <div>
    
    <img class="logo-league" src="{{league.logo}}"/>
    
    {{league.name}} 
    </div>
    {% endfor %}#}
    {{dump(leagues)}}
{% endblock %}