
{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-100" style="background-image : url('{{asset("image/background-error500.jpg")}}')">
    <h1>Page non trouvé</h1>
    Il me semble que vous vous soyez perdus
    </div>
{% endblock %}