{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="page100">
    <h1>Page non trouvé</h1>
    Il me semble que vous vous soyez perdus
    </div>
{% endblock %}