
{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-100" style="background-image : url('{{asset("image/error403.jpg")}}')">
    <div class="alert-danger text-center p-3">
    <h1>Erreur 403 - Accès refusé</h1>
    </div>
    </div>
{% endblock %}