
{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-100 p-4" style="background-image : url('{{asset("image/erreur500.jpg")}}');">
        <div class="alert-danger text-center opacity-7 container p-1">
            <h1>Erreur {{ status_code }}</h1>
            <p>Il semble que quelque chose ce soir mal passé !</p>
        </div>
    </div>
{% endblock %}