
{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-100  p-4" style="background-image : url('{{asset("image/error403.jpg")}}'); background-position-y : top">
    <div class="alert-danger text-center">
    <h1>Erreur 403 - Accès refusé</h1>
    </div>
    </div>
{% endblock %}